<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chz.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.chz.entity.Product">
    <id column="PRODUCT_ID" jdbcType="BIGINT" property="productId" />
    <result column="SHOP_ID" jdbcType="BIGINT" property="shopId" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    PRODUCT_ID, SHOP_ID, PRODUCT_NAME, PRICE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_product
    where PRODUCT_ID = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ord_product
    where PRODUCT_ID = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chz.entity.Product">
    insert into ord_product (PRODUCT_ID, SHOP_ID, PRODUCT_NAME, 
      PRICE)
    values (#{productId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.chz.entity.Product">
    insert into ord_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="shopId != null">
        SHOP_ID,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="price != null">
        PRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chz.entity.Product">
    update ord_product
    <set>
      <if test="shopId != null">
        SHOP_ID = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where PRODUCT_ID = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chz.entity.Product">
    update ord_product
    set SHOP_ID = #{shopId,jdbcType=BIGINT},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL}
    where PRODUCT_ID = #{productId,jdbcType=BIGINT}
  </update>
</mapper>