<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chz.dao.RedPacketAccountMapper">
  <resultMap id="BaseResultMap" type="com.chz.entity.RedPacketAccount">
    <id column="RED_PACKET_ACCOUNT_ID" jdbcType="BIGINT" property="redPacketAccountId" />
    <result column="BALANCE_AMOUNT" jdbcType="DECIMAL" property="balanceAmount" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    RED_PACKET_ACCOUNT_ID, BALANCE_AMOUNT, USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from red_red_packet_account
    where RED_PACKET_ACCOUNT_ID = #{redPacketAccountId,jdbcType=BIGINT}
  </select>

  <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from red_red_packet_account
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from red_red_packet_account
    where RED_PACKET_ACCOUNT_ID = #{redPacketAccountId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chz.entity.RedPacketAccount">
    insert into red_red_packet_account (RED_PACKET_ACCOUNT_ID, BALANCE_AMOUNT, 
      USER_ID)
    values (#{redPacketAccountId,jdbcType=BIGINT}, #{balanceAmount,jdbcType=DECIMAL}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.chz.entity.RedPacketAccount">
    insert into red_red_packet_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="redPacketAccountId != null">
        RED_PACKET_ACCOUNT_ID,
      </if>
      <if test="balanceAmount != null">
        BALANCE_AMOUNT,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="redPacketAccountId != null">
        #{redPacketAccountId,jdbcType=BIGINT},
      </if>
      <if test="balanceAmount != null">
        #{balanceAmount,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chz.entity.RedPacketAccount">
    update red_red_packet_account
    <set>
      <if test="balanceAmount != null">
        BALANCE_AMOUNT = #{balanceAmount,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where RED_PACKET_ACCOUNT_ID = #{redPacketAccountId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chz.entity.RedPacketAccount">
    update red_red_packet_account
    set BALANCE_AMOUNT = #{balanceAmount,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=BIGINT}
    where RED_PACKET_ACCOUNT_ID = #{redPacketAccountId,jdbcType=BIGINT}
  </update>

  <update id="update" parameterType="com.chz.entity.RedPacketAccount">
    update red_red_packet_account
    set BALANCE_AMOUNT = #{balanceAmount,jdbcType=DECIMAL},
    where RED_PACKET_ACCOUNT_ID = #{redPacketAccountId,jdbcType=BIGINT} and BALANCE_AMOUNT+#{freezeAmount}>=0
  </update>
</mapper>